# Python environment
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Package metadata
pip-wheel-metadata/

# OS files
.DS_Store
